@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family : 'Roboto', sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
}

.landing-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-page-left {
    width: 100%;
    height: 100%;
    background-color: gray;
    overflow: hidden;
}

.landing-page-left:hover {
    /* set bg color to teal */
    background-color: teal;
}

.landing-page-left:hover .landing-page-left-bg {
    /* Scale up to 1.1 */
    transform: scale(1.1);
    /* Saturate the image */
    filter: saturate(1);
}

.landing-page-left-bg {
    /* Show with 0.5 opacity, fill the whole div */
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition on scale */
    transition: all 0.5s;
    filter: saturate(0);
}

.landing-page-right {
    width: 100%;
    height: 100%;
    background-color: gray;
    overflow: hidden;
}

.landing-page-right:hover {
    /* set bg color to teal */
    background-color: orange;
}

.landing-page-right:hover .landing-page-right-bg {
    /* Scale up to 1.1 */
    transform: scale(1.1);
    /* Saturate the image */
    filter: saturate(1);
}

.landing-page-right-bg {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition on scale */
    transition: all 0.5s;
    filter: saturate(0);
}

a {
    /* Remove link effects, same properties as paragraph element */
    text-decoration: none;
    color: white;
    /* underline on hover */
}

a:hover {
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    transition: all 0.2s;
    background-color: #333;
}

.explore-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}

.btn:hover {
    text-decoration: none;
    background-color: #444;
}

.btn:active {
    text-decoration: none;
    background-color: #222;
}

.explore-btn-right {
    left: 75%;
}

.explore-btn-left {
    left: 25%;
}

.profile-picture {
    /* clip image to constraints of parent element */
    object-fit: cover;
    /* center image in parent element and resize to fit */
    object-position: center;
    /* transition on opacity */
    transition: all 0.5s;
    width: 128px;
    height: 128px;
}

.about-me-btn {
    background-color: #333;
    border: 8px solid #333;
    border-radius: 50%;
    margin: 32px auto;
    width: 128px;
    height: 128px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.about-me-btn:hover .profile-picture {
    opacity: 0;
}

.about-me-btn:hover .about-me-text {
    opacity: 1;
}

.about-me-text {
    /* position in the center and behind the img element */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    /* text centered */
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: all 0.5s;
}

.footer {
    /* floating footer with dark background */
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 16px 0px;
}